.info{
    @include md-575{
        .content-info{
            flex-direction: column;
             .box-content{
                 .input-change{
                    .content-input{
                        width: 290px;
                    }
                }
             }
        }
    }
}
.info{
    @include md-576-767{
        .content-info{
            flex-direction: column;
        }
    }
}
.container{
    @include md-768-991{
        width:720px;
    }
}
.container{
    @include md-992-1199{
        width:960px;
    }
}
.container{
    @include md-1400{
        width:1320px;
    }
}