html{
    @include md-575{
        overflow-x: hidden;
    }
}
.messanger{
    @include md-575{
        .content-messanger{
            flex-direction: column;
            .box-content{
                   width: 96vw;
                   overflow: hidden;
            }
        }
    }
}
.messanger{
    @include md-576-767{
        .content-messanger{
            flex-direction: column;  
            .box-content{
                   width: 97vw;
            }
        }
    }
}
.container{
    @include md-768-991{
        width:720px;
    }
}
.container{
    @include md-992-1199{
        width:960px;
    }
}
.container{
    @include md-1400{
        width:1320px;
    }
}