aside .content-aside ul li a, aside .content-aside ul li:last-child button {
  color: #F0F2F4; }

aside .content-aside ul li a:hover, aside .content-aside ul .al {
  background-color: #009688; }

aside .content-aside {
  background-color: #026057; }

aside .content-aside ul li:last-child button {
  background-color: #F69A0F; }

aside .content-aside ul li a {
  padding: 8px 16px; }

aside .content-aside {
  padding: 10px 8px; }

aside .content-aside ul li:last-child button {
  padding: 10px 16px; }

aside .content-aside ul li:last-child {
  padding: 12px 0px; }

aside .content-aside ul li:last-child {
  padding: 12px 0; }

aside .content-aside ul li a img {
  margin-right: 10px; }

aside .content-aside ul li:last-child button i {
  font-weight: 500; }

aside .content-aside ul li a {
  font-size: 14px; }

aside .content-aside ul li:last-child button {
  font-size: 18px; }

aside .content-aside ul li a {
  text-transform: capitalize; }

aside .content-aside ul li:last-child {
  display: block; }

aside .content-aside ul li a {
  display: flex; }

aside .content-aside ul li:last-child button {
  border-width: 2px; }

aside .content-aside {
  border-top-width: 2px; }

aside .content-aside ul li:last-child button {
  border-style: solid; }

aside .content-aside {
  border-top-style: solid; }

aside .content-aside {
  border-top-color: #009688; }

aside .content-aside ul li:last-child button {
  border-color: #F0F2F4; }

aside .content-aside ul li:last-child button {
  border-radius: 4px; }

aside .content-aside ul li a {
  border-radius: 6px; }

aside .content-aside ul li:last-child button:hover {
  -webkit-box-shadow: 0px 0px 14px #F69A0F;
  -moz-box-shadow: 0px 0px 14px #F69A0F; }

aside .content-aside ul li:last-child button:hover {
  box-shadow: 0px 0px 14px #F69A0F; }

aside .content-aside ul li a, aside .content-aside ul li:last-child button {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all; }

aside .content-aside ul li a, aside .content-aside ul li:last-child button {
  transition-property: all; }

aside .content-aside ul li a, aside .content-aside ul li:last-child button {
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out; }

aside .content-aside ul li a, aside .content-aside ul li:last-child button {
  transition-timing-function: ease-in-out; }

aside .content-aside ul li a {
  transition-duration: 0.2s; }

aside .content-aside ul li:last-child button {
  transition-duration: 0.3s; }

aside {
  position: relative; }

aside .content-aside ul li:last-child {
  position: absolute; }

aside .content-aside {
  top: 0; }

aside .content-aside ul li:last-child {
  bottom: 0; }

aside .content-aside ul li:last-child button {
  cursor: pointer; }

aside .content-aside ul li a {
  justify-content: start; }

aside .content-aside ul li a {
  align-items: center; }

aside {
  min-width: 2px; }
  aside .content-aside {
    min-width: 2px;
    position: -webkit-sticky;
    position: sticky;
    min-height: 100vh; }
    aside .content-aside ul li:last-child button {
      width: 186px;
      margin: 0 auto; }

@media (max-width: 576px) {
  aside {
    width: 100%; }
    aside .content-aside {
      flex-direction: column;
      height: inherit;
      min-height: 0; }
      aside .content-aside ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: auto; }
        aside .content-aside ul li a img {
          margin: 0; }
        aside .content-aside ul li a, aside .content-aside ul li button {
          padding: 10px 5px; }
          aside .content-aside ul li a span, aside .content-aside ul li button span {
            display: none; }
        aside .content-aside ul li:last-child {
          position: inherit;
          padding: 0; }
          aside .content-aside ul li:last-child button {
            width: 0;
            padding: 8px 16px;
            line-height: 16px; }
            aside .content-aside ul li:last-child button i {
              margin-left: -8px; } }

@media (min-width: 576px) and (max-width: 767px) {
  aside .content-aside {
    flex-direction: column;
    height: inherit;
    min-height: 0; }
    aside .content-aside ul {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      aside .content-aside ul li a img {
        margin: 0; }
      aside .content-aside ul li a span, aside .content-aside ul li button span {
        display: none; }
      aside .content-aside ul li:last-child {
        position: inherit;
        padding: 0; }
        aside .content-aside ul li:last-child button {
          width: 0;
          padding: 8px 16px;
          line-height: 16px; }
          aside .content-aside ul li:last-child button i {
            margin-left: -8px; } }

/*# sourceMappingURL=aside.css.map */
